


body, html {
    background: #000;  
    width: 100vw;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.03em;
    overflow: hidden;
  }


  .active .demo-title {
    color: currentColor;
    opacity: 1;
}
.demo-title {
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 23px 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;