body {
    background: #000;
    margin: 0;
}
.wrapper {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black;
    cursor: pointer;
    overflow: hidden;
}
.screen * {
    mix-blend-mode: difference;
}